[manifest]
dump_lua = true
priority = 2147483645 # 2147483647 - 2
version = "1.0.0"

# Logging ===== ===== ===== ===== ===== ===== ===== ===== ===== ===== ===== ===== ===== ===== ===== ===== ===== ===== ===== =====
[[patches]]
[patches.copy]
position = "prepend"
sources = ["prepend/init.lua"]
target = "main.lua"

# File loader ===== ===== ===== ===== ===== ===== ===== ===== ===== ===== ===== ===== ===== ===== ===== ===== ===== ===== ===== =====
[[patches]]
[patches.pattern]
match_indent = true
pattern = "cs = bs.load(project.initState)"
payload = '''
beatblockPlus2_0Update = tableContains == nil
if true then -- Utilitools file loader
	local chunk, e = love.filesystem.load((beatblockPlus2_0Update and mods.utilitools.path or mods.utilitools.config.modPath .. "/utilitools") .. "/files/fileManager.lua")
	if e then
		log(mods.utilitools, "Error while loading file " .. (beatblockPlus2_0Update and mods.utilitools.path or mods.utilitools.config.modPath .. "/utilitools") .. "/fileManager.lua of Utilitools: " .. e)
	else
		utilitools.fileManager = setfenv(chunk, setmetatable({}, { __index = _G }))()
	end
end
utilitoolsRegisterMods()
if utilitools.modChecks.general then -- mod checks failed (dependency/incompatibility)
	cs = bs.load("UtilitoolsModCheck")
else
	updateControls()
end
'''
position = "after"
target = "main.lua"

# Prompts ===== ===== ===== ===== ===== ===== ===== ===== ===== ===== ===== ===== ===== ===== ===== ===== ===== ===== ===== =====
[[patches]]
[patches.pattern]
match_indent = true
pattern = 'prof.pop("fg draw")'
payload = "	if utilitools.prompts then utilitools.prompts.imgui() end"
position = "before"
target = "main.lua"

# Hotkeys ===== ===== ===== ===== ===== ===== ===== ===== ===== ===== ===== ===== ===== ===== ===== ===== ===== ===== ===== =====
[[patches]]
[patches.pattern]
match_indent = true
pattern = "PopupManager.update(dt)"
payload = '''
for modId, modFiles in pairs(utilitools.files) do
	if modFiles.keys then
		for key, func in pairs(modFiles.keys) do
			if utilitools.keybinds.pressed(mods[modId], key) then
				if type(func) == "function" then func() end
			end
		end
	end
end
'''
position = "after"
target = "main.lua"
