[manifest]
dump_lua = true
priority = 2147483645 # 2147483647 - 2
version = "1.0.0"

# Logging ===== ===== ===== ===== ===== ===== ===== ===== ===== ===== ===== ===== ===== ===== ===== ===== ===== ===== ===== =====
[[patches]]
[patches.copy]
position = "prepend"
sources = ["prepend/init.lua"]
target = "main.lua"

# File loader ===== ===== ===== ===== ===== ===== ===== ===== ===== ===== ===== ===== ===== ===== ===== ===== ===== ===== ===== =====
[[patches]]
[patches.pattern]
match_indent = true
pattern = "cs = bs.load(project.initState)"
payload = '''
beatblockPlus2_0Update = tableContains == nil
if log then
	log:defineEnvironment("unknown-mod", 2, 2)
	log:defineEnvironment("utilitools", 2, 2)
end
if not beatblockPlus2_0Update then -- Check for unrenamed folders of commit downloads
	for _, modId in ipairs({ "utilitools", "beattools", "beatblock-plus", "beatblock-plus-launcher" }) do
		for _, v in ipairs({ "main", "dev", "devPenta" }) do
			if mods[modId] and love.filesystem.exists(utilitools.folderManager.modPath(mods[modId]) .. "-" .. v) then
				utilitools.folderManager.copy(utilitools.folderManager.modPath(mods[modId]), utilitools.folderManager.modPath(mods[modId]) .. "-" .. v)
				utilitools.folderManager.delete(utilitools.folderManager.modPath(mods[modId]) .. "-" .. v)
			end
		end
	end
end
if true then -- Utilitools file loader
	local chunk, e = love.filesystem.load(utilitools.folderManager.modPath(mods.utilitools) .. "/files/fileManager.lua")
	if e then
		error("Error while loading file " .. utilitools.folderManager.modPath(mods.utilitools) .. "/files/fileManager.lua of Utilitools: " .. e)
	else
		utilitools.fileManager = setfenv(chunk, setmetatable({}, { __index = _G }))()
	end
end
utilitoolsRegisterMods()
utilitools.backwardsCompat()
if beatblockPlus2_0Update then
	if mods.utilitools.config.askUpdate then
		if not mods.utilitools.config.autoUpdate then
			local buttonPressed = love.window.showMessageBox("Utilitools", "Welcome to Utilitools!\nDo you want to enable auto updating for mods?", { "Proceed", "No, dont ask again" })
			if buttonPressed == 1 then
				mods.utilitools.config.autoUpdate = true
			elseif buttonPressed == 2 then
				mods.utilitools.config.askUpdate = false
				utilitools.config.save(mods.utilitools)
			end
		end
		if mods.utilitools.config.autoUpdate then
			local buttonPressed = love.window.showMessageBox("Utilitools", "Auto updating will require internet access.\nMods will *not* be scanned for viruses.\nAre you sure?", { "Enable", "Nevermind" })
			if buttonPressed == 1 then
				mods.utilitools.config.askUpdate = false
				utilitools.config.save(mods.utilitools)
			elseif buttonPressed == 2 then
				mods.utilitools.config.autoUpdate = false
				mods.utilitools.config.askUpdate = false
				utilitools.config.save(mods.utilitools)
			end
		end
	end
else
	mods.utilitools.config.autoUpdate = false
	mods.utilitools.config.askUpdate = false
end
if utilitools.modUpdater.updateMods() then
	utilitools.doRelaunch = true
	utilitools.config.save(mods.utilitools)
	cs = bs.load("UtilitoolsEmpty")
else
	if mods.utilitools.config.updated.hasUpdated then
		if cs.name ~= project.initState then
			mods.utilitools.config.updated.initState = cs.name
		end
		cs = bs.load("UtilitoolsUpdate")
	elseif utilitools.modChecks.general then -- mod checks failed (dependency/incompatibility)
		cs = bs.load("UtilitoolsModCheck")
	else
		updateControls()
	end
	mods.utilitools.config.updated.hasUpdated = false
end
'''
position = "after"
target = "main.lua"

# Prompts ===== ===== ===== ===== ===== ===== ===== ===== ===== ===== ===== ===== ===== ===== ===== ===== ===== ===== ===== =====
[[patches]]
[patches.pattern]
match_indent = true
pattern = 'prof.pop("fg draw")'
payload = "	if utilitools.prompts then utilitools.prompts.imgui() end"
position = "before"
target = "main.lua"

# Hotkeys ===== ===== ===== ===== ===== ===== ===== ===== ===== ===== ===== ===== ===== ===== ===== ===== ===== ===== ===== =====
[[patches]]
[patches.pattern]
match_indent = true
pattern = "PopupManager.update(dt)"
payload = '''
for modId, modFiles in pairs(utilitools.files) do
	if modFiles.keys then
		utilitools.keybinds.checkBinds(mods[modId], modFiles.keys)
	end
end
if utilitools.doRelaunch then utilitools.relaunch(true) end
'''
position = "after"
target = "main.lua"
